{% extends '@RapsysAir/body.html.twig' %}
{% block content %}
	<article id="dashboard" class="city">
		<header>
			<h2><a href="{{ canonical }}">{{ title }}</a></h2>
			<p>{{ description }}</p>
		</header>
		<div class="panel">
			{% if cities is defined and cities %}
				<div class="grid{% if cities|length > 1%} two{% endif %}">
					{% for id, city in cities %}
						<article class="cell">
							<header>
								<h3><a href="{{ city.link }}">{{ city.city }} ({{ city.id }})</a></h3>
							</header>
							<div class="panel grid{% if cities|length > 1%} two{% else %} three{% endif %}">
								{% if city.multimap is defined and city.multimap %}
									<div class="multimap">
										<a href="{{ city.multimap.link }}" title="{{ city.multimap.caption }}">
											<figure>
												<img src="{{ city.multimap.src }}" alt="{{ city.multimap.caption }}" width="{{ city.multimap.width }}" height="{{ city.multimap.height }}" />
												<figcaption>{{ city.multimap.caption }}</figcaption>
											</figure>
										</a>
									</div>
								{% endif %}
								{% for id, location in city.locations %}
									<article class="cell">
										<h4>{% if city.multimap is defined and city.multimap %}{{ id }} {% endif %}<a href="{{ location.link }}">{{ location.title }}</a></h4>
									</article>
								{% endfor %}
							</div>
						</article>
					{% endfor %}
				</div>
			{% endif %}
			{{ include('@RapsysAir/form/_toolbox.html.twig') }}
		</div>
	</article>
{% endblock %}
