{% extends '@RapsysAir/body.html.twig' %}
{% block content %}
<section id="dashboard">
	<h2>{% trans %}Dashboard{% endtrans %}</h2>
	<section class="panel">
		{% if calendar is defined and calendar %}
			<table class="grid">
				<tbody>
					<tr>
						{% for date, day in calendar %}
							<td class="{{ ['cell', 'seventh']|merge(day.class)|join(' ') }}">
								<h3>{{ day.title }}</h3>
								{% if day.sessions is not empty %}
									<ul>
										{% for session in day.sessions %}
											<li class="{{ ['session']|merge(session.class)|join(' ') }}">
												<a href="{{ path('rapsys_air_session', {'id': session.id}) }}" title="{{ session.title }}">{{ session.title }}</a>
											</li>
										{% endfor %}
									</ul>
								{% endif %}
							</td>
							{% if loop.index % 7 == 0 and not loop.last %}
								</tr>
								<tr>
							{% endif %}
						{% endfor %}
					</tr>
				</tbody>
			</table>
		{% endif %}
		{# Display application or login form #}
		{% if is_granted('ROLE_GUEST') %}
			<section>
				{{ include('@RapsysAir/form/_application.html.twig') }}
			</section>
		{% elseif not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
			<section>
				{{ include('@RapsysAir/form/_login.html.twig') }}
			</section>
		{% endif %}
	</section>
	{# dump(calendar) #}
</section>
{% endblock %}
