{% extends '@RapsysAir/base.html.twig' %}
{% block content %}
	<article id="dashboard">
		<header>
			<h2>{{ description }}</h2>
		</header>
		<nav>
			<header>
				<h3>{% trans %}Table of contents{% endtrans %}</h3>
			</header>
			<ul>
				<li><a href="#about">{% trans %}About Libre Air{% endtrans %}</a></li>
				<li><a href="#mission">{% trans %}Our mission{% endtrans %}</a></li>
				<li><a href="#howtohelp">{% trans %}How you can help{% endtrans %}</a></li>
				<li><a href="#history">{% trans %}History of Libre Air{% endtrans %}</a></li>
				<li><a href="#technicalsupport">{% trans %}Technical support{% endtrans %}</a></li>
			</ul>
		</nav>
		<section>
			<header>
				<h3 id="about">{% trans %}About Libre Air{% endtrans %}</h3>
			</header>
			<p>{{ '%title%, an information site for outdoor dancers and organizers.'|trans({'%title%': '<a href="' ~ absolute_url(root) ~ '" title="' ~ title.site ~ '">' ~ title.site ~ '</a>'})|raw }}</p>
		</section>
		<section>
			<header>
				<h3 id="mission">{% trans %}Our mission{% endtrans %}</h3>
			</header>
			<p>{{ '%title%\'s mission is simple: provide dancers with the information they need to easily find organizers dance sessions.'|trans({'%title%': '<a href="' ~ absolute_url(root) ~ '" title="' ~ title.site ~ '">' ~ title.site ~ '</a>'})|raw }}</p>
			<p>{% trans %}If it's an outdoor place we want to document it.{% endtrans %}</p>
			{# <p><a href="{{ absolute_url(root) }}" title="{{ title.site }}">{{ title.site }}</a>{% trans %}, an information site for outdoor dancers and organizers.{% endtrans %}</p> #}
		</section>
		<section>
			<header>
				<h3 id="howtohelp">{% trans %}How you can help{% endtrans %}</h3>
			</header>
			<p>{% trans %}Our community is composed of amazing dancers all around the world who participate, review dance session and help us promote them.{% endtrans %}</p>
			<p>{{ 'However, you don\'t need to be a professional dancer or organizer to help %title%!'|trans({'%title%': '<a href="' ~ absolute_url(root) ~ '" title="' ~ title.site ~ '">' ~ title.site ~ '</a>'})|raw }}</p>
			<p>{{ 'Donate on %title% to help us fund our mission.'|trans({'%title%': '<a href="' ~ donate ~ '" title="' ~ 'Fund our mission'|trans ~ '">' ~ 'our donation page'|trans ~ '</a>'})|raw }}</p>
		</section>
		<section>
			<header>
				<h3 id="history">{% trans %}History of Libre Air{% endtrans %}</h3>
			</header>
			{# <p>{% trans %}Our community is composed of amazing dancers all around the world who participate, review dance session and help us promote them.{% endtrans %}</p>
			<p>{{ 'However, you don\'t need to be a professional dancer or organizer to help %title%!'|trans({'%title%': '<a href="' ~ absolute_url(root) ~ '" title="' ~ title.site ~ '">' ~ title.site ~ '</a>'})|raw }}</p>
			<p>{{ 'Donate on %title% to help us fund our mission.'|trans({'%title%': '<a href="' ~ donate ~ '" title="' ~ 'Fund our mission'|trans ~ '">' ~ 'our donation page'|trans ~ '</a>'})|raw }}</p> #}

			<p>{{ 'The %title% project started in 2019 when the need for a new dispatch platform for outdoor dance events arose.'|trans({'%title%': '<a href="' ~ absolute_url(root) ~ '" title="' ~ title.site ~ '">' ~ title.site ~ '</a>'})|raw }}</p>
			<p>{% trans %}Since then the project has grown and now forms a central point for broadcasting outdoor dance events from different organizers.{% endtrans %}</p>
			<p>{{ 'In the future, %title% hopes to become a daily visited resource for participants and organizers of outdoor dance sessions.'|trans({'%title%': '<a href="' ~ absolute_url(root) ~ '" title="' ~ title.site ~ '">' ~ title.site ~ '</a>'})|raw }}</p>
		</section>
		<section>
			<header>
				<h3 id="technicalsupport">{% trans %}Technical support{% endtrans %}</h3>
			</header>
			<p>{{ 'The development and hosting services are graciously provided by: %title%'|trans({'%title%': '<a href="' ~ copy.link ~ '" title="' ~ copy.title ~ '">' ~ copy.by ~ '</a>'})|raw }}</p>
			<p>{{ 'In case of bug or glitch you may contact us throught the contact form: %title%'|trans({'%title%': '<a href="' ~ path('rapsysair_contact') ~ '" title="' ~ 'Contact Libre Air'|trans ~ '">' ~ 'Contact'|trans ~ '</a>'})|raw }}</p>
		</section>
	</article>
{% endblock %}
