{% extends '@RapsysAir/base.html.twig' %}
{% block content %}
	<article>
		<header>
			<h2>{{ title.page }}</h2>
			<p>{{ description }}</p>
		</header>
		<div class="panel">
			{% if groups is defined and groups %}
				<div class="grid{% if groups|length > 2 %} three{% elseif groups|length > 1 %} two{% endif %}">
					{% for group, users in groups %}
						<article class="cell">
							<header>
								<h3>{{ group }}</h3>
							</header>
							<ul>
								{% for id, user in users %}
									<li><a href="{{ user.link }}" title="{% if user.forename %}{{ user.forename }} {% endif %}{% if user.surname %}{{ user.surname }} {% endif %}{% if user.pseudonym %}({{ user.pseudonym }}) {% endif %}&lt;{{ user.mail }}&gt;">{{ user.mail }}</a><a href="{{ user.edit }}">{% trans %}Modify{% endtrans %}</a></li>
								{% endfor %}
						</article>
					{% endfor %}
				</div>
			{% elseif users is defined and users %}
				<div class="grid{% if users|length > 3 %} four{% elseif users|length > 2 %} three{% elseif users|length > 1 %} two{% endif %}">
					{% for id, user in users %}
						<article class="cell">
							<header>
								<h3><a href="{{ user.link }}" title="{{ '%pseudonym% calendar'|trans({'%pseudonym%': user.pseudonym}) }}">{{ user.pseudonym }}</a></h3>
							</header>
							{% for dname, dinfos in user.dances %}
								<dl>
									<dt><a href="{{ dinfos.link }}">{{ dname }}</a></dt>
									{% for dtype, dlink in dinfos.types %}
										<dd><a href="{{ dlink }}">{{ dtype }}</a><dd>
									{% endfor %}
								</dl>
							{% endfor %}
						</article>
					{% endfor %}
				</div>
			{% endif %}
			{{ include('@RapsysAir/form/_toolbox.html.twig') }}
		</div>
	</article>
	{{ include('@RapsysAir/default/_location.html.twig') }}
{% endblock %}
