{% extends '@RapsysAir/body.html.twig' %}
{% block content %}
	<article id="dashboard">
		<header>
			<h2><a href="{{ path('rapsys_air_user') }}">{{ section }}</a></h2>
			<p>{{ description }}</p>
		</header>
		<div class="panel">
			{% if groups is defined and groups %}
				<div class="grid three">
					{% for group, users in groups %}
						<article class="cell">
							<h3>{{ group }}</h3>
							<ul>
								{% for id, user in users %}
									<li><a href="{{ path('rapsys_air_user_view', {'id': id}) }}">{{ user.pseudonym }}</a><a href="{{ path('rapsys_user_edit', {'mail': user.mail|short, 'hash': user.mail|short|hash}) }}">{% trans %}Edit{% endtrans %}</a></li>
								{% endfor %}
						</article>
					{% endfor %}
				</div>
			{% elseif users is defined and users %}
				<div class="grid four">
					{% for id, user in users %}
						<article class="cell">
							<h3><a href="{{ path('rapsys_air_user_view', {'id': id}) }}">{{ user.pseudonym }}</a></h3>
						</article>
					{% endfor %}
					{#{% for date, day in organizers %}
						<article class="{{ ['cell', 'seventh']|merge(day.class)|join(' ') }}">
							<h3>{{ day.title }}</h3>
							{% if day.sessions is not empty %}
								<ul>
									{% for session in day.sessions %}
										<li class="{{ ['session']|merge(session.class)|join(' ') }}">
											<a href="{{ path('rapsys_air_session_view', {'id': session.id}) }}" title="{{ session.applications|join('\n') }}">{{ session.title }}</a>
											<span>
												{% if session.weather is defined and session.weather %}<span title="{{ session.weathertitle }}">{{ session.weather }}</span>{% endif %}
												<span title="{{ session.slottitle }}">{{ session.slot }}</span>
											</span>
										</li>
									{% endfor %}
								</ul>
							{% else %}
								&nbsp;
							{% endif %}
						</article>
					{% endfor %}#}
				</div>
			{% endif %}
			{{ include('@RapsysAir/form/_toolbox.html.twig') }}
		</div>
	</article>
	{{ include('@RapsysAir/default/_location.html.twig') }}
{% endblock %}
