{% extends '@RapsysAir/base.html.twig' %}
{% block content %}
	<section id="form">
		<header>
			<h2>
				<a href="{{ path('rapsys_air_session_view', {'id': session.id}) }}">{{ session.title }}</a>
				<a href="{{ path('rapsys_air_location_view', {'id': session.location.id}) }}">{{ session.location.at }}</a>
			</h2>
			<p>{{ description }}</p>
		</header>
		{% if form.modify is defined or form.move is defined or form.cancel is defined or form.raincancel is defined or form.forcecancel is defined or is_granted('ROLE_ADMIN') %}
			{{ form_start(form) }}
				{% if form.modify is defined %}
					<div>
						{{ form_row(form.begin) }}

						{{ form_row(form.length) }}

						{{ form_row(form.modify) }}
					</div>
				{% endif %}
				{% if form.move is defined %}
					<div class="dangerous">
						{{ form_row(form.location) }}

						{{ form_row(form.move) }}
					</div>
				{% endif %}
				{% if form.cancel is defined or form.raincancel is defined or form.forcecancel is defined or is_granted('ROLE_ADMIN') %}
					<div class="mortal">
						{% if is_granted('ROLE_ADMIN') %}
							{{ form_row(form.user) }}
						{% endif %}

						{% if form.cancel is defined %}
							{{ form_row(form.cancel) }}
						{% endif %}

						{% if form.raincancel is defined %}
							{{ form_row(form.raincancel) }}
						{% endif %}

						{% if form.forcecancel is defined %}
							{{ form_row(form.forcecancel) }}
						{% endif %}

						{% if is_granted('ROLE_ADMIN') %}
							{% if form.attribute is defined %}
								{{ form_row(form.attribute) }}

								{{ form_row(form.autoattribute) }}
							{% endif %}

							{{ form_row(form.lock) }}
						{% endif %}
					</div>
				{% endif %}
				{# render csrf token etc .#}
				<footer style="display:none">{{ form_rest(form) }}</footer>
			{{ form_end(form) }}
		{% endif %}
	</section>
{% endblock %}
