{% extends '@RapsysAir/body.html.twig' %}
{% block content %}
	<article id="dashboard">
		<h2><a href="{{ path('rapsys_air_session') }}">{{ section }}</a></h2>
		<div class="panel">
			{% if calendar is defined and calendar %}
				<div class="grid calendar seven">
					{% for date, day in calendar %}
						<section class="{{ day.class|join(' ') }}">
							<h3>{{ day.title }}</h3>
							{% if day.sessions is not empty %}
								<ul>
									{% for session in day.sessions %}
										<li class="{{ session.class|join(' ') }}">
											<a href="{{ path('rapsys_air_session_view', {'id': session.id}) }}" title="{{ session.applications|join('\n') }}">
												<span>{{ session.start|localizeddate('none', 'short') }}</span>
												<span class="reducible">{{ session.location }}</span>
												<span class="info">
													{% if session.weather is defined and session.weather %}
														<span title="{{ session.weathertitle }}">{{ session.weather }}</span>
													{% endif %}
													<span title="{{ session.slottitle }}">{{ session.slot }}</span>
												</span>
												<span>{{ session.stop|localizeddate('none', 'short') }}</span>
												{% if session.pseudonym is defined and session.pseudonym %}
													<span class="reducible{% if session.rate is not defined and session.hat is not defined %} pseudonym{% endif %}">{{ session.pseudonym }}</span>
												{% endif %}
												{% if session.rate is defined %}<span class="info">{{ session.rate }} {% if session.hat is defined and session.hat %}🎩{% else %}€{% endif %}</span>{% endif %}
											</a>
										</li>
									{% endfor %}
								</ul>
							{% endif %}
						</section>
					{% endfor %}
				</div>
			{% endif %}
			{{ include('@RapsysAir/form/_toolbox.html.twig') }}
		</div>
	</article>
	{{ include('@RapsysAir/default/_location.html.twig') }}
{% endblock %}
