{% extends '@RapsysAir/body.html.twig' %}
{% block content %}
<section id="dashboard">
	<h2>
		<a href="{{ path('rapsys_air_session_view', {'id': session.id}) }}">{{ session.title }}</a>
	</h2>
	<div class="panel calendar">
		<div class="grid">
			<section class="cell fourth">
				<h3>{% trans %}Location{% endtrans %}</h3>
				<a href="{{ path('rapsys_air_location_view', {'id': session.location.id}) }}">{{ session.location.title }}</a>
			</section>
			<section class="cell fourth">
				<h3>{% trans %}Slot{% endtrans %}</h3>
				{{ session.slot.title }}
			</section>
			<section class="cell fourth">
				<h3>{% trans %}Created{% endtrans %}</h3>
				{{ session.created.format('Y-m-d H:i:s') }}
			</section>
			<section class="cell fourth">
				<h3>{% trans %}Updated{% endtrans %}</h3>
				{{ session.updated.format('Y-m-d H:i:s') }}
			</section>
			<section class="cell third">
				<h3>{% trans %}Attributed to{% endtrans %}</h3>
				{% if session.application is null %}
					{% trans %}None{% endtrans %}
				{% else %}
					<a href="{{ path('rapsys_air_user_view', {'id': session.application.user.id}) }}">{{ session.application.user.title }}</a>
				{% endif %}
			</section>
			<section class="cell third">
				<h3>{% trans %}Begin{% endtrans %}</h3>
				{% if session.begin is null %}
					{% trans %}None{% endtrans %}
				{% else %}
					{{ session.begin.format('Y-m-d H:i:s') }}
				{% endif %}
			</section>
			<section class="cell third">
				<h3>{% trans %}End{% endtrans %}</h3>
				{% if session.end is null %}
					{% trans %}None{% endtrans %}
				{% else %}
					{{ session.end.format('Y-m-d H:i:s') }}
				{% endif %}
			</section>
		</div>
		{{ include('@RapsysAir/form/_toolbox.html.twig') }}
	</div>
	<div class="panel candidate">
		<div class="grid">
			<section class="cell">
				<h3>{% trans %}Candidates{% endtrans %}</h3>
				<div class="subgrid">
					{% if session.applications is null %}
						{% trans %}None{% endtrans %}
					{% else %}
						{% for application in session.applications %}
							<section class="cell">
								<h4><a href="{{ path('rapsys_air_user_view', {'id': application.user.id} ) }}">{{ application.user.title }}</a></h4>
								<dl>
									<dt>{% trans %}Created{% endtrans %}</dt>
									<dd>{{ application.created.format('Y-m-d H:i:s') }}</dd>
								</dl>
								<dl>
									<dt>{% trans %}Updated{% endtrans %}</dt>
									<dd>{{ application.updated.format('Y-m-d H:i:s') }}</dd>
								</dl>
							</section>
						{% endfor %}
					{% endif %}
				</div>
			</section>
		</div>
	</div>
</section>
{% endblock %}
