{% extends '@RapsysAir/base.html.twig' %}
{% block content %}
	<article class="session{% if session.locked is defined and session.locked %} locked{% elseif session.application.canceled is defined and session.application.canceled %} canceled{% endif %}">
		<header>
			<h2>{{ title.page }}</h2>
			<p>{{ description }}</p>
		</header>
		<div class="panel">
			<div class="grid three">
				<section class="cell">
					<header>
						<h3>{% trans %}Program{% endtrans %}</h3>
					</header>
					<dl>
						<dt>{% trans %}Date and schedule{% endtrans %}</dt>
						<dd>{{ 'The %date% around %start% until %stop%'|trans({'%date%': session.start|intldate('long', 'none'), '%start%': session.start|intldate('none', 'medium'), '%stop%': session.stop|intldate('none', 'medium')}) }}</dd>
					</dl>
					{% if session.application is defined and session.application %}
						{% if session.application.dance is defined and session.application.dance %}
							<dl>
								<dt>{% trans %}Activity{% endtrans %}</dt>
								{#<dd>{{ session.application.dance.title }}</dd>#}
								<dd><a href="{{ session.application.dance.link }}">{{ session.application.dance.title }}</a></dd>
							</dl>
						{% endif %}
						{% if session.application.user is defined and session.application.user %}
							<dl>
								<dt>{% trans %}Organizer{% endtrans %}</dt>
								<dd><a href="{{ session.application.user.link }}">{{ session.application.user.title }}</a></dd>
							</dl>
						{% endif %}
						{% if session.snippet is defined and session.snippet %}
							{% if session.snippet.description is defined and session.snippet.description %}
								<dl>
									<dt>{% trans %}Description{% endtrans %}</dt>
									<dd>{{ session.snippet.description|striptags|markdown_to_html }}</dd>
								</dl>
							{% endif %}
							{% if session.snippet.class is defined and session.snippet.class %}
								<dl>
									<dt>{% trans %}Class{% endtrans %}</dt>
									<dd>{{ session.snippet.class|striptags|markdown_to_html }}</dd>
								</dl>
							{% endif %}
							{% if session.snippet.contact is defined and session.snippet.contact %}
								<dl>
									<dt>{% trans %}Contact{% endtrans %}</dt>
									<dd><a href="{{ session.application.user.contact }}">{{ 'Send a message to %pseudonym%'|trans({'%pseudonym%': session.application.user.title}) }}</a></dd>
								</dl>
							{% endif %}
							{% if session.snippet.donate is defined and session.snippet.donate %}
								<dl>
									<dt>{% trans %}Donate{% endtrans %}</dt>
									<dd><a href="{{ session.snippet.donate }}">{{ 'Donate to %pseudonym%'|trans({'%pseudonym%': session.application.user.title}) }}</a></dd>
								</dl>
							{% endif %}
							{% if session.snippet.link is defined and session.snippet.link %}
								<dl>
									<dt>{% trans %}Link{% endtrans %}</dt>
									<dd><a href="{{ session.snippet.link }}">{{ 'Link to %pseudonym%'|trans({'%pseudonym%': session.application.user.title}) }}</a></dd>
								</dl>
							{% endif %}
							{% if session.snippet.profile is defined and session.snippet.profile %}
								<dl>
									<dt>{% trans %}Social network{% endtrans %}</dt>
									<dd><a href="{{ session.snippet.profile }}">{{ 'Consult %pseudonym% profile'|trans({'%pseudonym%': session.application.user.title}) }}</a></dd>
								</dl>
							{% endif %}
							{% if session.snippet.rate is defined and session.snippet.rate %}
								{% if session.snippet.hat is defined and session.snippet.hat %}
									<dl>
										<dt>{% trans %}Contribution to costs{% endtrans %}</dt>
										<dd>{% if session.snippet.rate == 0 %}{% trans %}To the hat, to cover: talc, electricity, bicycle, website, ...{% endtrans %}{% else %}{{ 'To the hat, ideally %rate% €, to cover: talc, electricity, bicycle, website, ...'|trans({'%rate%': session.snippet.rate}) }}{% endif %}</dd>
									</dl>
								{% else %}
									<dl>
										<dt>{% trans %}Contribution{% endtrans %}</dt>
										<dd>{% if session.snippet.rate == 0 %}{% trans %}Free{% endtrans %}{% else %}{{ session.snippet.rate }} €{% endif %}</dd>
									</dl>
								{% endif %}
							{% endif %}
						{% endif %}
					{% endif %}
					{% if session.locked is defined and session.locked %}
						<dl>
							<dt>{% trans %}Locked{% endtrans %}</dt>
							<dd>{{ session.locked|intldate('long', 'medium') }}</dd>
						</dl>
					{% endif %}
					<dl>
						<dt>{% trans %}Created{% endtrans %}</dt>
						<dd>{{ session.created|intldate('long', 'medium') }}</dd>
					</dl>
					<dl>
						<dt>{% trans %}Updated{% endtrans %}</dt>
						<dd>{{ session.updated|intldate('long', 'medium') }}</dd>
					</dl>
				</section>
				<section class="cell">
					<header>
						<h3>{% trans %}Location{% endtrans %}</h3>
					</header>
					<dl>
						<dt>{% trans %}Place{% endtrans %}</dt>
						<dd><a href="{{ session.location.link }}">{{ session.location.title }}</a></dd>
					</dl>
					<dl>
						<dt>{% trans %}Description{% endtrans %}</dt>
						<dd>{{ session.location.description }}</dd>
					</dl>
					<dl>
						<dt>{% trans %}Interiority{% endtrans %}</dt>
						<dd>{% if session.location.indoor is defined and session.location.indoor%}{% trans %}Indoor{% endtrans %}{% else %}{% trans %}Outdoor{% endtrans %}{% endif %}</dd>
					</dl>
					<dl>
						<dt>{% trans %}Address{% endtrans %}</dt>
						<dd>
							{{ session.location.address }}
							{{ session.location.zipcode }} {{ session.location.city }}
						</dd>
					</dl>
					<dl>
						<dt>{% trans %}GPS coordinates{% endtrans %}</dt>
						<dd>
							{{ session.location.latitude }},{{ session.location.longitude }}
						</dd>
					</dl>
					<dl>
						<dt>{% trans %}Maps{% endtrans %}</dt>
						<dd>
							<a href="https://www.google.fr/maps/@{{ session.location.latitude }},{{ session.location.longitude }},19z">Google Maps</a>
						</dd>
						<dd>
							<a href="https://www.openstreetmap.org/#map=19/{{ session.location.latitude }}/{{ session.location.longitude }}">OpenStreetMap</a>
						</dd>
					</dl>
					{% if map is defined and map %}
						<dl class="map">
							<dt>{% trans %}Access map{% endtrans %}</dt>
							<dd>
								<a href="{{ map.link }}" title="{{ map.caption }}">
									<figure>
										<img src="{{ map.src }}" alt="{{ map.caption }}" width="{{ map.width }}" height="{{ map.height }}" />
										<figcaption>{{ map.caption }}</figcaption>
									</figure>
								</a>
							</dd>
						</dl>
					{% endif %}
				</section>
				<section class="cell">
					<header>
						<h3>{% trans %}Weather{% endtrans %}</h3>
					</header>
					{% if session.rainrisk is not null %}
						<dl>
							<dt>{% trans %}Rainrisk{% endtrans %}</dt>
							<dd>{{ session.rainrisk }}</dd>
						</dl>
					{% endif %}
					{% if session.rainfall is not null %}
						<dl>
							<dt>{% trans %}Rainfall{% endtrans %}</dt>
							<dd>{{ session.rainfall }}</dd>
						</dl>
					{% endif %}
					{% if session.realfeel is not null %}
						<dl>
							<dt>{% trans %}Realfeel{% endtrans %}</dt>
							<dd>{{ session.realfeel }}</dd>
						</dl>
					{% endif %}
					{% if session.realfeelmin is not null %}
						<dl>
							<dt>{% trans %}Realfeel min{% endtrans %}</dt>
							<dd>{{ session.realfeelmin }}</dd>
						</dl>
					{% endif %}
					{% if session.realfeelmax is not null %}
						<dl>
							<dt>{% trans %}Realfeel max{% endtrans %}</dt>
							<dd>{{ session.realfeelmax }}</dd>
						</dl>
					{% endif %}
					{% if session.temperature is not null %}
						<dl>
							<dt>{% trans %}Temperature{% endtrans %}</dt>
							<dd>{{ session.temperature }}</dd>
						</dl>
					{% endif %}
					{% if session.temperaturemin is not null %}
						<dl>
							<dt>{% trans %}Temperature min{% endtrans %}</dt>
							<dd>{{ session.temperaturemin }}</dd>
						</dl>
					{% endif %}
					{% if session.temperaturemax is not null %}
						<dl>
							<dt>{% trans %}Temperature max{% endtrans %}</dt>
							<dd>{{ session.temperaturemax }}</dd>
						</dl>
					{% endif %}
				</section>
				{% if is_granted('ROLE_GUEST') %}
					<section class="cell">
						<header>
							<h3>{% trans %}Candidates{% endtrans %}</h3>
						</header>
						<div class="panel">
							<div class="grid{% if session.applications is defined %}{% if session.applications|length >= 4 %} four{% elseif session.applications|length >= 3 %} three{% elseif session.applications|length >= 2 %} two{% endif %}{% endif %}">
								{% if session.applications is defined and session.applications %}
									{% for application in session.applications %}
										<section class="cell">
											<header>
												{% if application.user.id == 1 and application.user.title|slug == 'milonga-raphael' %}
													<h3><a href="{{ path('rapsysair_user_milongaraphael') }}">{{ application.user.title }}</a></h3>
												{% else %}
													<h3><a href="{{ path('rapsysair_user_view', {'id': application.user.id, 'user': application.user.title|slug}) }}">{{ application.user.title }}</a></h3>
												{% endif %}
											</header>
											<dl>
												<dt>{% trans %}Score{% endtrans %}</dt>
												<dd>
													{% if application.score is null %}
														{% trans %}None{% endtrans %}
													{% else %}
														{{ application.score }}</dd>
													{% endif %}
											</dl>
											<dl>
												<dt>{% trans %}Created{% endtrans %}</dt>
												<dd>{{ application.created|intldate('long', 'medium') }}</dd>
											</dl>
											<dl>
												<dt>{% trans %}Updated{% endtrans %}</dt>
												<dd>{{ application.updated|intldate('long', 'medium') }}</dd>
											</dl>
											<dl>
												<dt>{% trans %}Canceled{% endtrans %}</dt>
												<dd>
													{% if application.canceled is null %}
														{% trans %}None{% endtrans %}
													{% else %}
														{{ application.canceled|intldate('long', 'medium') }}
													{% endif %}
												</dd>
											</dl>
										</section>
									{% endfor %}
								{% else %}
									<section class="cell">
										{% trans %}None{% endtrans %}
									</section>
								{% endif %}
							</div>
						</div>
					</section>
				{% endif %}
			</div>
			{{ include('@RapsysAir/form/_toolbox.html.twig') }}
		</div>
	</article>
	{{ include('@RapsysAir/default/_location.html.twig') }}
{% endblock %}
