<section>
	<h2>{% trans %}Application{% endtrans %}</h2>
	{{ form_start(application) }}
		<div>
			{% if application.user is defined %}
				{{ form_row(application.user) }}
			{% endif %}

			{{ form_row(application.location) }}

			{{ form_row(application.date) }}

			{{ form_row(application.slot) }}

			{{ form_row(application.submit) }}
		</div>

		{# render csrf token etc .#}
		<footer style="display:none">{{ form_rest(application) }}</footer>
	{{ form_end(application) }}
</section>
