<section>
	<header>
		<h3>{% trans %}Application{% endtrans %}</h3>
	</header>
	{{ form_start(forms.application) }}
		<div>
			{% if forms.application.user is defined %}
				{{ form_row(forms.application.user) }}
			{% endif %}

			{{ form_row(forms.application.dance) }}

			{{ form_row(forms.application.location) }}

			{{ form_row(forms.application.date) }}

			{{ form_row(forms.application.slot) }}

			{{ form_row(forms.application.submit) }}
		</div>

		{# render csrf token etc .#}
		<footer style="display:none">{{ form_rest(forms.application) }}</footer>
	{{ form_end(forms.application) }}
</section>
