{{ form_start(application) }}
	<section>
		{% if application.user is defined %}
			{{ form_row(application.user) }}
		{% endif %}

		{{ form_row(application.location) }}

		{{ form_row(application.date) }}

		{{ form_row(application.slot) }}
	</section>

	{{ form_row(application.submit) }}

	{# Render CSRF token etc .#}
	<footer style="display:none">
		{{ form_rest(application) }}
	</footer>
{{ form_end(application) }}
