<section>
	<h2><a href="{{ path('rapsysuser_login') }}">{% trans %}Login{% endtrans %}</a></h2>
	{{ form_start(forms.login) }}
		<div>
			{{ form_row(forms.login.mail) }}

			{{ form_row(forms.login.password) }}

			{{ form_row(forms.login.submit) }}
		</div>

		{# Render CSRF token etc .#}
		<footer style="display:none">{{ form_rest(forms.login) }}</footer>
	{{ form_end(forms.login) }}
</section>
