{% if forms.session.modify is defined or forms.session.move is defined or forms.session.cancel is defined or forms.session.raincancel is defined or forms.session.forcecancel is defined or is_granted('ROLE_ADMIN') %}
	<section>
		<h2>{% trans %}Modify{% endtrans %}</h2>
		{{ form_start(forms.session) }}
			{% if forms.session.modify is defined %}
				<div>
					{{ form_row(forms.session.begin) }}

					{{ form_row(forms.session.length) }}

					{{ form_row(forms.session.modify) }}
				</div>
			{% endif %}
			{% if forms.session.move is defined %}
				<div class="dangerous">
					{{ form_row(forms.session.location) }}

					{{ form_row(forms.session.move) }}
				</div>
			{% endif %}
			{% if forms.session.cancel is defined or forms.session.raincancel is defined or forms.session.forcecancel is defined or is_granted('ROLE_ADMIN') %}
				<div class="mortal">
					{% if is_granted('ROLE_ADMIN') %}
						{{ form_row(forms.session.user) }}
					{% endif %}

					{% if forms.session.cancel is defined %}
						{{ form_row(forms.session.cancel) }}
					{% endif %}

					{% if forms.session.raincancel is defined %}
						{{ form_row(forms.session.raincancel) }}
					{% endif %}

					{% if forms.session.forcecancel is defined %}
						{{ form_row(forms.session.forcecancel) }}
					{% endif %}

					{% if is_granted('ROLE_ADMIN') %}
						{% if forms.session.attribute is defined %}
							{{ form_row(forms.session.attribute) }}

							{{ form_row(forms.session.autoattribute) }}
						{% endif %}

						{{ form_row(forms.session.lock) }}
					{% endif %}
				</div>
			{% endif %}
			{# render csrf token etc .#}
			<footer style="display:none">{{ form_rest(forms.session) }}</footer>
		{{ form_end(forms.session) }}
	</section>
{% endif %}
