{% extends '@RapsysAir/body.html.twig' %}
{% block content %}
	<section id="form">
		<h2><a href="{{ path('rapsys_air_contact') }}">{{ section }}</a></h2>
		{% if sent %}
			<p class="message notice">{% trans %}Your message has been sent{% endtrans %}</p>
		{% else %}
			<div>
				{{ form_start(form) }}

					<header>{{ form_errors(form) }}</header>

					<section>
						{{ form_row(form.subject) }}

						{{ form_row(form.name) }}

						{{ form_row(form.mail) }}

						{{ form_row(form.message) }}
					</section>

					{{ form_row(form.submit) }}

					{# Render CSRF token etc .#}
					<footer style="display:none">
						{{ form_rest(form) }}
					</footer>

				{{ form_end(form) }}
			</div>
		{% endif %}
	</section>
{% endblock %}
