{% extends '@RapsysAir/body.html.twig' %}
{% block title %}{{ site.title }} - {{ title }}{% endblock %}
{% block content %}
	<article id="form">
		<header>
			<h2><a href="{{ path('rapsys_user_login') }}">{% trans %}Login{% endtrans %}</a></h2>
		</header>
		{{ form_start(login) }}
			<div>
				{{ form_row(login.mail) }}

				{{ form_row(login.password) }}

				{{ form_row(login.submit) }}
			</div>

			{# Render CSRF token etc .#}
			<footer style="display:none">{{ form_rest(login) }}</footer>
		{{ form_end(login) }}
	</article>
	{% if recover is defined %}
		<article id="recover">
			<header>
				<h2><a href="{{ path('rapsys_user_recover') }}">{% trans %}Recover{% endtrans %}</a></h2>
			</header>
			{{ form_start(recover) }}

				<div>
					{{ form_row(recover.mail) }}

					{{ form_row(recover.submit) }}
				</div>

				{# Render CSRF token etc .#}
				<footer style="display:none">{{ form_rest(recover) }}</footer>
			{{ form_end(recover) }}
		</article>
	{% endif %}
{% endblock %}
