{% extends '@RapsysAir/body.html.twig' %}
{% block content %}
	<section id="form">
		<h2><a href="{{ path('rapsys_user_recover') }}">{% trans %}Recover{% endtrans %}</a></h2>
		{% if sent %}
			<p class="message notice">{% trans %}Your password is updated and an account recover message has been sent{% endtrans %}</p>
		{% elseif not found %}
			<p class="message error">{% trans %}Unable to find account{% endtrans %}</p>
		{% else %}
			<section>
				{{ form_start(form) }}
					<section>
						{{ form_row(form.password) }}
					</section>

					{{ form_row(form.submit) }}

					{# Render CSRF token etc .#}
					<footer style="display:none">
						{{ form_rest(form) }}
					</footer>
				{{ form_end(form) }}
			</section>
		{% endif %}
	</section>
{% endblock %}
