{% extends '@RapsysAir/body.html.twig' %}
{% block content %}
	<section id="form">
		<h2>{{ title|trans }}</h2>
		{% if sent %}
			<p class="notice">{% trans %}Your account has been created{% endtrans %}</p>
		{% else %}
			<section>
				{{ form_start(form) }}
					<section>
						{{ form_row(form.mail) }}

						{{ form_row(form.password.first) }}

						{{ form_row(form.password.second) }}
					</section>

					<section>
						{{ form_row(form.title) }}

						{{ form_row(form.forename) }}

						{{ form_row(form.surname) }}

						{{ form_row(form.pseudonym) }}

						{{ form_row(form.phone) }}
					</section>

					{{ form_row(form.submit) }}

					{# Render CSRF token etc .#}
					<footer style="display:none">
						{{ form_rest(form) }}
					</footer>
				{{ form_end(form) }}
			</section>
		{% endif %}
	</section>
{% endblock %}
