{% extends '@RapsysAir/body.html.twig' %}
{% block title %}{{ site.title }} - {{ title }}{% endblock %}
{% block content %}
	<section id="form">
		<h2><a href="{{ path('rapsys_user_register') }}">{% trans %}Register{% endtrans %}</a></h2>
		{% if sent %}
			<p class="message notice">{% trans %}Your account has been created{% endtrans %}</p>
		{% else %}
			{{ form_start(form) }}
				<div>
					{{ form_row(form.mail) }}

					{{ form_row(form.password.first) }}

					{{ form_row(form.password.second) }}

					{{ form_row(form.civility) }}

					{{ form_row(form.forename) }}

					{{ form_row(form.surname) }}

					{{ form_row(form.pseudonym) }}

					{{ form_row(form.phone) }}

					{{ form_row(form.submit) }}
				</div>

				{# Render CSRF token etc .#}
				<footer style="display:none">{{ form_rest(form) }}</footer>
			{{ form_end(form) }}
		{% endif %}
	</section>
{% endblock %}
